framework: net47,netstandard2.0
cache ./nupkgs versions: current

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 4.1

group Build
    framework: net47
    cache ./nupkgs versions: current
    source https://api.nuget.org/v3/index.json

    nuget FAKE 4.38.1